@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0;
  margin: 0;
  gap: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #2c3639;
}

.iklan1 {
  position: fixed;
  z-index: -1;
  margin: 0 105rem 0 0;
}

.iklan2 {
  position: fixed;
  z-index: -1;
  margin: 0 0 0 105rem;
}

.parent {
  width: 70%;
  margin: auto;
  background-color: #3f4e4f;
  height: 200rem;
  z-index: 1;
}

.header {
  background-color: #a27b5c;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header h1 {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.header h1:hover {
  color: #fff;

  cursor: pointer;
}

.header input {
  width: 40rem;
  height: 1.8rem;
  border-radius: 20px;
  background-color: #a27b5c;
  border: 1px solid #000;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.header input:hover {
  background-color: white;
}

.header img {
  width: 1rem;
  position: absolute;
  right: 41.3rem;
  top: 1rem;
}

.header button {
  width: 4rem;
  height: 1.8rem;
  border-radius: 20px;
  font-size: 1rem;
  transition: all 0.4s ease-in-out;
  background-color: #a27b5c;
}

.header button:hover {
  background-color: #fff;
}

.account {
  font-size: 1.3rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.account:hover {
  color: bisque;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dcd7c9;
  width: 100%;
  height: 2.5rem;
  position: sticky;
  top: 0%;
  z-index: 999;
}

.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
  transition: all 0.4s ease-in-out;
}

.iklan-top {
  display: flex;
}

.move-text {
  background-color: gray;
  color: #fff;
}

.iklan-top img {
  width: 27.8rem;
}

.iklan-top-p {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.navbar a:hover {
  color: #a27b5c;
}

.Judul h2 {
  font-size: 3rem;
  text-align: center;
  padding-top: 30px;
}

.parents-main {
  padding: 0 3rem;
}

.image-res {
  width: 80%;
  height: 30rem;
  margin: auto;
  margin-top: 1rem;
  transition: all 0.4s;
  box-shadow: 1px -1px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -1px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 8px 0px rgba(0, 0, 0, 0.75);
}
.image-res:hover {
  opacity: 0.5;
  width: 81%;
  height: 31rem;
}

.image-res img {
  width: 100%;
  height: 100%;
}

.isi {
  /* background-color: white; */
  height: 140rem;
  line-height: 1.5rem;
  margin-top: 4rem;
}

.isi h3 {
  font-size: 2rem;
  margin-top: 30px;
}

.isi p {
  font-size: 1.2rem;
  margin-top: 12px;
}

.rangkuman {
  border: 1px solid #000;
  transition: all 0.4s;
}

.rangkuman:hover {
  border: 1px solid #000;
  background-color: #a27b5c;
  color: white;
}

.rangkuman h3 {
  font-size: 2.5rem;
}

/* footer */
.footer {
  background-color: antiquewhite;
  bottom: 0;
  width: 70%;
  margin: auto;
  height: 17rem;
}

.footer h3 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 20px;
  z-index: 9;
  letter-spacing: 3px;
  cursor: pointer;
}

.socialmedia {
  display: flex;
  justify-content: space-evenly;
}

.socialmedia img {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  transition: all 0.4s;

  margin-top: 1.5rem;
}

.socialmedia img:hover {
  opacity: 0.5;
  box-shadow: 1px -1px 26px 0px #000;
  -webkit-box-shadow: 1px -1px 26px 0px #000;
  -moz-box-shadow: 1px -1px 26px 0px #000;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@media (max-width: 1080px) {
  .header input {
    width: 20rem;
  }

  .header img {
    right: 25.5rem;
  }
}
